.count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.currency {
  background: #fff;
  border-radius: 16px;
  margin: 12px 0 0 12px;
}

.bold {
  border: 3px solid black;
  padding: 10px;
}
