.count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.currency {
  background: #fff;
  border-radius: 16px;
  margin: 12px 0 0 12px;
}

.bold {
  border: 3px solid rgb(49, 110, 62);
  padding: 10px;
}

.type {
  color: rgba(175, 138, 34, 0.9);
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
}
